{% extends 'base.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}
	<div class="container-fluid p-0 position-relative">

		<img id="hero" src="{{ asset('uploads/')}}{{ trick.thumbnail }}" class="img-fluid" alt="Image d'accueil">
		<div class="row position-absolute top-50 start-50 translate-middle">
			<div class="col-12 text-center">
				<h1 class="display-1 text-white">{{ trick.name }}</h1>
			</div>
		</div>
		<div class="row position-absolute bottom-0 end-0 pe-2 p-0 m-0">
			<div class="col">
				<a href="#tricks">
					<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down-square-fill" viewbox="0 0 16 16">
						<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"></path>
					</svg>
				</a>
			</div>
		</div>
	</div>
	<div class="container position-relative">
		<h1 class="text-center mt-3 mb-3" id="tricks">D'autres angles de vue
		</h1>
		<div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4 g-4">
			{% for media in trick.media %}
				{% if media.type == 'image' %}
					<div class="col">
						<div class="card h-100">
							<div class="card-body">
								<img src="{{ asset('uploads/')}}{{ media.url }}" class="img-fluid" alt="Image d'accueil">
							</div>
						</div>
					</div>
				{% elseif media.type == 'tag' %}
					<div class="col">
						<div class="card h-100">
							<div class="card-body">
								<iframe width="272px" height="150px" src="https://www.youtube.com/embed/{{ media.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				{% elseif media.type == 'video' %}
					<div class="col">
						<div class="card h-100">
							<div class="card-body">
								<iframe src="{{ media.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						</div>
					</div>

				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<h2 class="text-center mt-3 mb-3">Description</h2>
		<p class="text-center">
			{{ trick.description }}
		</p>
		<h3 class="text-center mt-3 mb-3">
			Catégories</h3>
		{% for category in trick.categories %}


			<div class="col d-flex justify-content-center align-items-center">
				<span class="badge rounded-pill bg-primary">{{ category.name }}</span>
			</div>

		{% else %}
			<p>Pas de catégories trouvées</p>
		{% endfor %}
		<div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4 g-4"></div>
		<div class="row">
			<div class="col">
				<h1 class="text-center mt-3 mb-3">Commentaires</h1>
				{% if app.user %}
					{{ include('commentaire/_form.html.twig', {'button_label': 'Post'}) }}
				{% endif %}
				{% for comment in trick.commentaires %}
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title">{{ comment.pseudoAuteur }}</h5>
							<p class="card-text">{{ comment.contenu }}</p>
							<p class="card-text">
								<small class="text-muted">{{ comment.createdAt|date('Y-m-d H:i:s') }}</small>
							</p>
						</div>
					</div>
				{% else %}
					<p class="text-center ">Pas de commentaires trouvés</p>
				{% endfor %}
				<a href="{{ path('app_home') }}">back to list</a>
				{% if app.user %}
					<a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a>
					{% if app.user.roles == "ROLE_ADMIN" %}

						{{ include('trick/_delete_form.html.twig') }}
					{% endif %}
				{% endif %}

			</div>
		</div>


	{% endblock %}
